server/web/WEB-INF/wsdl/localhost_8080/DocumentManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://server.ws.sysd.univ.lr.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.ws.sysd.univ.lr.fr/">

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="depotDocument" type="tns:depotDocument"/>

<xs:element name="depotDocumentResponse" type="tns:depotDocumentResponse"/>

<xs:element name="generePDF" type="tns:generePDF"/>

<xs:element name="generePDFResponse" type="tns:generePDFResponse"/>

<xs:element name="rechercheDocument" type="tns:rechercheDocument"/>

<xs:element name="rechercheDocumentResponse" type="tns:rechercheDocumentResponse"/>

<xs:element name="retourneDocument" type="tns:retourneDocument"/>

<xs:element name="retourneDocumentResponse" type="tns:retourneDocumentResponse"/>

<xs:complexType name="generePDF">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="XSLfo" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generePDFResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depotDocument">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="data" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depotDocumentResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retourneDocument">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retourneDocumentResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechercheDocument">
<xs:sequence>
<xs:element name="motsCle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechercheDocumentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>