server/web/WEB-INF/wsdl/localhost_8080/DocumentManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.sysd.univ.lr.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.sysd.univ.lr.fr/" name="DocumentManager">
<wsp:Policy wsu:Id="DocumentManagerPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.sysd.univ.lr.fr/" schemaLocation="http://localhost:8080/DocumentManager?xsd=1"/>
</xsd:schema>
</types>
<message name="depotDocument">
<part name="parameters" element="tns:depotDocument"/>
</message>
<message name="depotDocumentResponse">
<part name="parameters" element="tns:depotDocumentResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="retourneDocument">
<part name="parameters" element="tns:retourneDocument"/>
</message>
<message name="retourneDocumentResponse">
<part name="parameters" element="tns:retourneDocumentResponse"/>
</message>
<message name="rechercheDocument">
<part name="parameters" element="tns:rechercheDocument"/>
</message>
<message name="rechercheDocumentResponse">
<part name="parameters" element="tns:rechercheDocumentResponse"/>
</message>
<message name="generePDF">
<part name="parameters" element="tns:generePDF"/>
</message>
<message name="generePDFResponse">
<part name="parameters" element="tns:generePDFResponse"/>
</message>
<portType name="DocumentManager">
<operation name="depotDocument">
<input wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/depotDocumentRequest" message="tns:depotDocument"/>
<output wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/depotDocumentResponse" message="tns:depotDocumentResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/depotDocument/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/depotDocument/Fault/IOException"/>
</operation>
<operation name="retourneDocument">
<input wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/retourneDocumentRequest" message="tns:retourneDocument"/>
<output wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/retourneDocumentResponse" message="tns:retourneDocumentResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/retourneDocument/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/retourneDocument/Fault/IOException"/>
</operation>
<operation name="rechercheDocument">
<input wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/rechercheDocumentRequest" message="tns:rechercheDocument"/>
<output wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/rechercheDocumentResponse" message="tns:rechercheDocumentResponse"/>
</operation>
<operation name="generePDF">
<input wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/generePDFRequest" message="tns:generePDF"/>
<output wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/generePDFResponse" message="tns:generePDFResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/generePDF/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server.ws.sysd.univ.lr.fr/DocumentManager/generePDF/Fault/IOException"/>
</operation>
</portType>
<binding name="DocumentManagerPortBinding" type="tns:DocumentManager">
<wsp:PolicyReference URI="#DocumentManagerPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="depotDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="retourneDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="rechercheDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generePDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DocumentManager">
<port name="DocumentManagerPort" binding="tns:DocumentManagerPortBinding">
<soap:address location="http://localhost:8080/DocumentManager"/>
</port>
</service>
</definitions>