server/src/java/META-INF/wsit-fr.lr.univ.sysd.ws.server.DocumentManager.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DocumentManager" targetNamespace="http://server.ws.sysd.univ.lr.fr/" xmlns:tns="http://server.ws.sysd.univ.lr.fr/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2004/09/policy" 
 >
    <message name="depotDocument"/>
    <message name="depotDocumentResponse"/>
    <message name="FileNotFoundException"/>
    <message name="IOException"/>
    <message name="retourneDocument"/>
    <message name="retourneDocumentResponse"/>
    <message name="rechercheDocument"/>
    <message name="rechercheDocumentResponse"/>
    <message name="generePDF"/>
    <message name="generePDFResponse"/>
    <portType name="DocumentManager">
        <operation name="depotDocument">
            <input message="tns:depotDocument"/>
            <output message="tns:depotDocumentResponse"/>
            <fault name="FileNotFoundException" message="tns:FileNotFoundException"/>
            <fault name="IOException" message="tns:IOException"/>
        </operation>
        <operation name="retourneDocument">
            <input message="tns:retourneDocument"/>
            <output message="tns:retourneDocumentResponse"/>
            <fault name="FileNotFoundException" message="tns:FileNotFoundException"/>
            <fault name="IOException" message="tns:IOException"/>
        </operation>
        <operation name="rechercheDocument">
            <input message="tns:rechercheDocument"/>
            <output message="tns:rechercheDocumentResponse"/>
        </operation>
        <operation name="generePDF">
            <input message="tns:generePDF"/>
            <output message="tns:generePDFResponse"/>
            <fault name="FileNotFoundException" message="tns:FileNotFoundException"/>
            <fault name="IOException" message="tns:IOException"/>
        </operation>
    </portType>
    <binding name="DocumentManagerPortBinding" type="tns:DocumentManager">
        <wsp:PolicyReference URI="#DocumentManagerPortBindingPolicy"/>
        <operation name="depotDocument">
            <input/>
            <output/>
            <fault name="FileNotFoundException"/>
            <fault name="IOException"/>
        </operation>
        <operation name="retourneDocument">
            <input/>
            <output/>
            <fault name="FileNotFoundException"/>
            <fault name="IOException"/>
        </operation>
        <operation name="rechercheDocument">
            <input/>
            <output/>
        </operation>
        <operation name="generePDF">
            <input/>
            <output/>
            <fault name="FileNotFoundException"/>
            <fault name="IOException"/>
        </operation>
    </binding>
    <service name="DocumentManager">
        <port name="DocumentManagerPort" binding="tns:DocumentManagerPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="DocumentManagerPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
